* {
    margin: 0%;
    padding: 0%;
}



.Codergaming  {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 10px;
}

#margin {
    margin-bottom: 20px;
}


.main {
    display: flex;
    justify-content: center;
    
}

.one-file {
    margin: 40px;
}

.teclados {
    margin-bottom: 40px;
}

.two-file {
    margin: 40px;
}

.Componentes {
    margin-bottom: 40px;
}

.three-file {
    margin: 40px;

}

.Auriculares {
    margin-bottom: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    
}

ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: center;
}

ul li {
    margin: 20px;
}

.address {
    display: flex;
    justify-content: center;
}

img {
    width: 140px;
    height: 140px;
    border-style: dotted;
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    text-align: center;
}

